body {
    display: flex;
    flex-direction: column;
   align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f1f5f9;
  text-align: center;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.tabs {
    background-color: rgb(185, 179, 179);
  display: flex;
    border-radius: 10px;
  align-items: center;
  width: 280px;
  height: 40px;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: #ddd;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 50%;
  height: 35px;
  transition: background-color 0.3s;
}

.tab-button.active {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card {
  background-color: #ddd;
  padding: 20px;
  border-radius: 15px;
  margin: 0 auto 20px;
    width: 40%;
    height: 450px;
  transition: all 0.3s ease;
}

.photo {
  width: 120px;
  height: 120px;
  background-color: black;
  margin: 0 auto 10px;
  border-radius: 15px;
}

.subtitle {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: #ddd;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ccc;
}

#dados-fixos,#conteudo-dinamico {
  
  transition: opacity 0.3s;
  font-size: 0.85rem;
  align-items: center;
}
  .icone{
    
    background-color: #fff;
    border-radius: 20px;
    width: 150px;
    height: 25px;
    margin-left: 40px;
  
  }
